# Tables for testing schema drift handling

In [4]:
if exists(select * from sys.schemas s join sys.tables t on t.schema_id = s.schema_id where s.name = 'dbo' and t.name = 'sdtPersonA')
    drop table dbo.sdtPersonA

create table dbo.sdtPersonA
    (   Id int not null
    ,   FirstName varchar(20)
    ,   LastName varchar(25)
    ,   MiddleInitial char(1)
    ,   HeightInches tinyint
    ,   WeightPounds smallint
    )

In [5]:
if exists(select * from sys.schemas s join sys.tables t on t.schema_id = s.schema_id where s.name = 'dbo' and t.name = 'sdtPersonB')
    drop table dbo.sdtPersonB

create table dbo.sdtPersonB
    (   Id int not null
    ,   FirstName varchar(25)
    ,   MiddleName varchar(25)
    ,   LastName varchar(25)
    ,   EyeColor varchar(15)
    ,   NationOfOriginIsoCode char(5)
    )

## Actions generated